* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(-45deg, #3316a5, #423a55, #29176b);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app-box {
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  transition: all 0.4s ease;
}

.main-title {
  margin-bottom: 20px;
}

#btn {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  background-color: #980303;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.result-box {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.result-box.active {
  max-height: 2000px;
  margin-top: 10px;
}

.anime-card {
  background: #f0f0f5;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}

.anime-card img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
}

#loading {
  display: none;
  text-align: center;
  margin-bottom: 10px;
}